@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
 
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Special+Gothic+Expanded+One&family=Stack+Sans+Text:wght@200..700&display=swap');

:root {
  --title-font: "Special Gothic Expanded One", sans-serif;
  --header-font: "Stack Sans Text", sans-serif;
  --text-font: "JetBrains Mono", monospace;

  --primary: #fffeff;
  --secondary: #010e25; /*dark navy*/
  --accent: #98a0c8;
  --accent-content: #243789;
  --neutral: #6e6a70;
  --info: #4a5996;
  --success: #76B090;
  --success-content: #004c39;
}